{:organization [{:id "33433403", :name "CoproCodeForces-And-Friends", :url "https://github.com/CoproCodeForces-And-Friends"}], :project [{:id 135080068, :name "KFC-GitHub", :description "GitHub issues connector for KFC project ", :organizationId "33433403", :createDate "2018-05-27T20:40:51Z", :url "https://github.com/CoproCodeForces-And-Friends/KFC-GitHub"}], :user [{:id "8050494", :name "fominok", :url "https://github.com/fominok"}], :task [{:description "A task, related to #1 ", :name "Related", :changeDate "2018-06-19T21:20:27Z", :activity [], :status "open", :label ["swag" "yolo"], :id "329640334", :url "https://github.com/CoproCodeForces-And-Friends/KFC-GitHub/issues/3", :projectId 135080068, :creationDate "2018-06-05T21:58:53Z", :creatorId 8050494, :handlerId 8050494}]}